# VITE_BASE_URL= http://179.27.97.242:3000/api
VITE_BASE_URL=https://api.generalfire.uy/api
VITE_MAP_API_KEY=AIzaSyDHbuj7ARWz4JH7uuxWglUnFvGQ_ZioSb4
VITE_IMAGE_BASE_URL=https://nyc3.digitaloceanspaces.com/tribe-s3/
