VITE_BASE_URL= http://179.27.97.242:3000/api
# VITE_BASE_URL=https://sofocon.api.novexisconsulting.xyz/api
VITE_MAP_API_KEY=AIzaSyB2WppIRyBKnjBjmaubxjeeP8eKbEZUDlQ
VITE_IMAGE_BASE_URL=https://nyc3.digitaloceanspaces.com/tribe-s3/
